torch==2.2.2
torchvision==0.17.2
streamlit
pdfplumber
pandas
dateparser
rapidfuzz
spacy==3.7.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
numpy
easyocr
Pillow
pdf2image
plotly
httpx==0.27.2
groq
python-docx
